<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-lg bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <router-link to="/" class="nav-item nav-link">
                        Barang
                    </router-link>
                    <router-link to="/create" class="nav-item nav-link">
                        Tambah Barang
                    </router-link>
                </div>
            </div>
        </nav>
    </div>
</template>;

<script>
    export default {}
</script>;